<div class="navigation" data-sticky-container>
<div class="row expanded" data-sticky data-options="marginTop:0;" style="width:100%">

<!-- Left -->
<div class="small-3 columns text-left align-middle navigation__left show-for-medium">
<ul class="menu simple align-left">
  <li><a data-toggle="overlay">Work</a></li>
</ul>
</div>
<!-- End Left -->

<!-- Middle -->
<div class="small-12 medium-6 columns text-center logo align-middle navigation__center">
<a href="/"><h1>Dragonfly Scenery</h1></a>
</div>
<!-- End Middle -->

<!-- Right -->
<div class="small-3 columns text-right align-middle navigation__right show-for-medium">
<ul class="menu simple align-right">
  <li><a href="/about/">About</a></li>
  <li><a href="#">Contact</a></li>
</ul>
</div>
<!-- End Right -->

</div>
</div>