<div class="navigation">
<div class="row expanded">

<!-- Left -->
<div class="small-4 columns text-left title">
<a href="/"><h1>Work</h1></a>
</div>
<!-- End Left -->

<!-- Middle -->
<div class="small-4 columns text-center title">
<a href="/"><h1>Dragonfly Scenery</h1></a>
</div>
<!-- End Middle -->

<!-- Right -->
<div class="small-4 columns text-right title">
<a href="/"><h1>About / Contact</h1></a>
</div>
<!-- End Right -->

<!-- Right -->
<!--
<div class="small-6 columns text-right">
<button class="hamburger hamburger--collapse" id="toggle" data-toggler=".is-active" type="button" data-toggle="overlay toggle">
<span class="hamburger-box"><span class="hamburger-inner"></span></span>
</button>
</div>
-->
<!-- End Right -->

</div>
</div>