//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. 404
//   4. Navigation
//   5. Excerpt
//   6. Page
//   7. Contact
//   8. Project
//   9. About
//   10. Footer

// 1. Global
// ---------

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
  cursor: default;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: $color--black;
  color: $color--white;
}

a { 
  transition: $primary-transition;
}

.main-content {
  /* flex: 1; would be enough but it looks bad in IE */
  flex: 1 0 auto;
}

.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// 2. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 3. 404
// ------

.missing {
  margin-top: 3rem;
  margin-bottom: 3rem;
    a {
      color: $color--dark-gray;
    }
    a:hover {
      color: $color--black;
    }
}

// 4. Navigation
// -------------

.navigation__left {
  padding: 2rem 3rem 2rem 3rem;
}

.navigation__center {
  padding: 2rem 3rem 2rem 3rem;
    @include breakpoint(small only) {
      padding: 2rem 2rem 0rem 2rem;
    }
}

.navigation__right {
  padding: 2rem 3rem 2rem 3rem;
  .menu.simple li:nth-child(2) {
    margin-right: 0rem;
  }
}

.navigation__title__desktop h1 {
  font-family: $serif-font-family;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0;
  letter-spacing: 0.15rem;
  line-height: 1.2;
    span {
      font-family: $body-font-family;
      letter-spacing: 0.25rem;
      font-size: 0.75rem;
    }
}

// 5. Excerpt
// ----------

.excerpt {
  position:relative;
  opacity:1;
  padding-bottom: 2rem;
  margin: 0.5rem 2rem;
 @include breakpoint(medium only) {
    margin: 1.75rem 1.75rem;
  }
  @include breakpoint(small only) {
    margin: 0.5rem 1.5rem;
  }
}

.excerpt__image {
  margin-bottom: 0.75rem;
  transition: $primary-transition;
}

.excerpt__image:hover {
  opacity: 0.7;
}

.excerpt__text__title {
  font-family: 'GaramondPremrPro-It', serif;
  font-size: 1.75rem;
  line-height: 1.2;
}

.excerpt__text__collaborator {
  a {
    font-family: $body-font-family;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color--dark-gray;
  }
  a:hover {
    color: $color--black;
  }  
}

/*
.excerpt {
  position:relative;
  opacity:1;
  margin: 2rem;
  transition: $primary-transition;
    @include breakpoint(medium only) {
      margin: 1.75rem;
    }
    @include breakpoint(small only) {
      margin: 1.5rem;
    }
    img {
      width:100%;
    }
    &:hover .excerpt__image:after {
      background:$color--lightest-gray;
      transition: $primary-transition;
      opacity:0.8;
    }
    &:hover .excerpt__title p {
      opacity: 1;
      color: $color--black;
    } 
}

.excerpt__title {
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0rem;
    p {
      opacity: 0;
      color: $color--white;
      transition: $primary-transition;
      letter-spacing: 0.05rem;
      margin: 0rem;
    }
}

div.row.excerpt__title {
  margin: 0rem;
}

.excerpt__image:after {
  content:'\A';
  position:absolute;
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  opacity:0;
  transition: $primary-transition;
}
*/

// 6. Page
// -------

.page__content {
  padding: 1rem 3rem 1rem 3rem;
    @include breakpoint(small only) {
      padding: 2rem;
    }
    h3 {
      margin-bottom: 2rem;
    }
}

// 7. Contact
// -------

.contact {
  padding: 3rem;
    @include breakpoint(small only) {
      padding: 2rem;
    }
}

.contact__detail {
  margin-bottom: 0rem;
}

.contact {
  a {
    display: inline-block;
    position: relative;
  }

  a::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid $color--black;
    margin-top: 5px;
    transition: $primary-transition;
  }

  a:hover::after {
    border-bottom: 1px solid $color--lightest-gray;
    margin-top: 5px;
  }
}

.contact__copyright {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.contact__address {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

// 8. Project
// ----------

.project__video {
  margin-bottom: 0rem;
}

.project__carousel {
  margin-bottom: 2rem;
  img {
    display: block;
    height: 200px;
    margin-right: 2rem;
      @include breakpoint(medium) {
        height: 400px;
      }
      @include breakpoint(large) {
        height: 400px;
      }
    }
}

.project__meta {
  margin-top: 2rem;
  margin-bottom: 2rem;
    p {
      margin-bottom: 0rem;
    }
}

// 9. About
// ---------

.about__clients {
  padding: 1rem 3rem 1rem 3rem;
    @include breakpoint(small only) {
      padding: 2rem;
    }
    h3 {
      margin-bottom: 2rem;
    }
}

// 10. Footer
// ----------

footer {
  color: $color--black;
  padding: 2rem 3rem 2rem 3rem;
  a {
    color: $color--black;
    display: block;
    }
  @include breakpoint(small only) {
    padding: 2rem;
  }
}