---
layout: default
---

<div class="row contact__studio page__content align-center text-center">
	<div class="small-12 medium-10 large-8 columns">
  	<p>Studio</p>
		{{ page.studio-text | markdownify }}
	</div>
</div>

<div class="row align-center text-center">
	<div class="small-12 medium-8 columns">
		{{ page.copyright-text }}
	</div>
</div>

<div class="row align-center text-center">
	<div class="small-12 medium-8 columns">
		{{ page.address-text }}
	</div>
</div>

<div class="row align-center text-center">
	<div class="small-12 medium-8 columns">
		{{ page.legal-text }}
	</div>
</div>