<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

{% if page.url == "/" %}
<body id="top">
{% else %}
<body id="top">
{% endif %}
  
{% if page.url == "/" %}
<script>document.body.className += ' fade-out';</script>
{% endif %}


<!-- Navigation -->  
{% include navigation.html %}
<!-- End Navigation --> 

<!-- Menu -->  
{% include overlay-menu.html %}
<!-- End Menu --> 

<!-- Content -->  
{{ content }}
<!-- End Content -->  

<!-- Footer -->  
{% include footer.html %}
<!-- End Footer -->  
  
  
</body>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

</html>
