<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>
<div class="animsition">
<div class="content">

<!-- Navigation --> 
{% include navigation.html %}
<!-- End Navigation --> 

<!-- Overlay Menu -->  
{% include overlay-menu.html %}
<!-- End Overlay Menu --> 

<!-- Content -->  
{{ content }}
<!-- End Content -->  
</div>

<!-- Footer -->  
{% include footer.html %}
<!-- End Footer -->  
  
</div>  
</body>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

</html>