---
layout: default
---

<!-- Carousel -->
<div class="row columns expanded">
<div class="project__carousel">
{% for image in page.images %}
	<img src="{{image}}"/>
{% endfor %}
</div>
</div>
<!-- End Carousel -->

<!-- Meta -->
{% if page.photographer or page.publication %}
<div class="row align-center project__meta">
	<div class="small-8 medium-7 large-7 columns text-center">
  	{% if page.photographer %}
		<p>Photographer &mdash; {{ page.photographer }}</p>
		{% endif %}
		{% if page.publication %}
		<p>Publication &mdash; {{ page.publication }}</p>
		{% endif %}
	</div>
</div>
{% endif %}
<!-- End Meta -->


<!-- Content -->
<div class="row align-center">
	<div class="small-8 medium-7 large-7 columns text-center">
		{{ content }}
	</div>
</div>
<!-- End Content -->