---
layout: default
---

<!-- Carousel -->
<div class="row columns expanded">
<div class="project__carousel" data-flickity-options='{ "imagesLoaded": true }'>
{% for image in page.images %}
	<img src="{{image}}"/>
{% endfor %}
</div>
</div>
<!-- End Carousel -->

<!-- Meta -->
{% if page.photographer %}
<div class="row align-center project__meta">
	<div class="small-8 medium-7 large-7 columns text-center">
		<p>Photographer: {{ page.photographer }}</p>
		<p>Publication: {{ page.magazine }}</p>
	</div>
</div>
{% endif %}
<!-- End Meta -->


<!-- Content -->
<div class="row align-center">
	<div class="small-8 medium-7 large-7 columns text-center">
		{{ content }}
	</div>
</div>
<!-- End Content -->